@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Work+Sans:wght@600&display=swap');

$mobile: 720px;
$tablet: 1040px;


:root {
    background: rgb(103,47,186);
    background: radial-gradient(circle, hsl(264, 60%, 46%) 0%, hsl(265, 100%, 18%) 100%);
    font-family: 'Merriweather', serif;
    color: rgb(216, 212, 231);

    
}

body {
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    min-height: 100%;
    padding: 1rem;

    header {
        padding: 1rem;
        width: 100%;

        h1 {
            font-family: 'Work Sans', sans-serif;
            text-align: center;
            color: rgb(245, 242, 255);
            font-size: 3rem;
            margin: 2rem;
            background-color: rgb(255, 178, 62);
            background-image: linear-gradient(268.67deg, rgb(255, 255, 255) 3.43%, rgb(255, 240, 102) 15.69%, rgb(255, 163, 26) 55.54%, rgb(255, 0, 115) 99%);
            background-size: 100%;
            background-clip: text;
            -webkit-text-fill-color: transparent;
            line-height: 1.2;

            @media screen and (max-width: $mobile) {
                font-size: 1.8rem;
                margin-bottom: 1.5rem;
            }
        }
    }

    #input-container {
        margin: 0 auto;
        padding: 1rem;
        height: auto;
        width: 60%;
        margin-bottom: 3rem;

        @media screen and (max-width: $tablet) {
            width: 90%;
            padding: 0;
        }

        .description {
            width: 100%;
            text-align: center;
            margin-bottom: 2rem;

            @media screen and (max-width: $mobile) {
                font-size: 1rem;
            }
        }

        #form {
            display: flex;
            gap: 1rem;
            width: 100%;

            @media screen and (max-width: $mobile) {
                flex-direction: column;
                gap: 0;
            }

            input {
                width: 60%;
                height: 3.75rem;
                font-size: 1.5rem;
                padding-left: 1rem;
                border-radius: 0.5rem;
                border: 1px solid rgb(38, 0, 95);
                background-color: hsl(252, 100%, 94%);
                margin-bottom: 1.2rem;

                @media screen and (max-width: $mobile) {
                    width: 100%;
                }
            }

            button {
                cursor: pointer;
                width: 40%;
                max-height: 3.75rem;
                font-family: 'Work Sans', sans-serif;
                color: #5f4705;
                font-size: 1.5rem;
                padding: 0.75rem 1rem;
                border: 1px solid #ffdf88;
                border-radius: 0.5rem;
                background-color: #FFBE0B;

                &:hover {
                    background-color: #ffd255
                }

                

                @media screen and (max-width: $mobile) {
                    width: 100%;
                }
            }
        }
    }

    #result-container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin: 0 auto;
        padding: 1rem;
        height: 60%;
        width: 60%;

        @media screen and (max-width: $tablet) {
            width: 90%;
            padding: 0;
        }

        

        .result {
            display: flex;
            flex-direction: column;
            color: white;
            background-color: #3A86FF;
            border: 1px solid #98c0ff;
            border-radius: 0.5rem;
            padding: 0.5rem 0.75rem;
            width: 100%;
            margin-bottom: 2rem;

            -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
            -moz-animation: fadein 1s; /* Firefox < 16 */
            -ms-animation: fadein 1s; /* Internet Explorer */
            -o-animation: fadein 1s; /* Opera < 12.1 */
            animation: fadein 1s;

            p {
                font-size: 1rem;
            }

            hr {
                width: 100%;
                height: 1px;
                background-color: #98c0ff;
                border: 0;
                margin: 0.5rem 0;
            }

            .result-content {
                display: flex;
                gap: 1rem;
                align-items: center;
                justify-content: space-between;

                p {
                    font-size: 1.5rem;
                    line-height: 1.5;
                }

                .copy {
                    cursor: pointer;
                    font-family: 'Work Sans', sans-serif;
                    text-transform: uppercase;
                    font-size: 1rem;
                    color: white;
                    padding: 0 0.5rem;
                    background-color: transparent;
                    border: 1px solid white;
                    border-radius: 4px;
    
                    @media screen and (max-width: $mobile) {
                        width: 100%;
                        height: 3rem;
                    }
    
                    &:hover {
                        background-color: #98c0ff;
                    }
                }

                @media screen and (max-width: $mobile) {
                    flex-direction: column;
                }
            }

            
  
        }
    }

    footer {
        padding: 1rem;
        min-height: 13.75rem;
    }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}


